# THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
# THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# This is an example desktop entry. Replace the values for exec with the path to your start script
# and icon with the path to the icon.

[Desktop Entry]
Type=Application
Name=BMA-Simulator
Name[de]=BMA-Simulator
Icon=/foo/bar/BMA-Simulator/icon.png
Comment=Application to control the BMA simulator
Comment[de]=Anwendung zur Steuerung des BMA-Simulators
Exec=/foo/bar/StartScriptExample.sh
