[Desktop Entry]

# This is an example desktop entry. Replace the values for exec with the path where you put the start script
# and icon with the path to the icon.

Type=Application
Name=BMA-Control
Name[de]=BMA-Steuerung
Icon=/foo/bar/BMA-Steuerung/icon.png
Comment=Application to control the BMA trainer
Comment[de]=Anwendung zur Steuerung der Übungs-BMA
Exec=/foo/bar/StartScriptExample.sh
