[Desktop Entry]

# This is an example desktop entry. Replace the values for exec with the path where you put the start script
# and icon with the path to the icon.

Type=Application
Name=BMA-Simulator
Name[de]=BMA-Simulator
Icon=/foo/bar/BMA-Simulator/icon.png
Comment=Application to control the BMA simulator
Comment[de]=Anwendung zur Steuerung des BMA-Simulators
Exec=/foo/bar/StartScriptExample.sh
